{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1 class="text-white">Edit Category</h1>
    <hr class="hr" />
    {{ form_start(categoryForm) }}
        {{ form_widget(categoryForm) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(categoryForm) }}


{% endblock %}
